@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;1,300;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Pt Serif";
  --ff-secondary: "DM Mono";

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #f7fff7;
  --clr-drk: #272640;
  --clr-accent: #cbdfbd;

  --fs-h1: 3rem;
  --fs-h2: 2.23rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/*---------General Style------- */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-clr);
  color: var(--clr-drk);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/*----Buttons-----*/
.btn {
  display: inline-block;
  padding: 1em 2.5em;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  background: var(--clr-accent);
  color: var(--clr-light);
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  opacity: 0.8;
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  opacity: 1;
}
/*Typography */

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

p {
  font-family: var(--ff-secondary);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
  min-width: 500px;
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0.25em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

/*---header--*/
.logo {
  max-width: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  width: 100vw;
}

.nav {
  position: fixed;
  background: var(--clr-drk);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translatex(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

/*----Intro Section */
.intro {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.intro_img {
  box-shadow: var(--bs);
  border-radius: 280px;
  right: 10px;
  bottom: 10px;
  width: 50%;
}

.section__subtitle--intro {
  display: inline-block;
}

@media (min-width: 768px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .intro_img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

@media (min-width: 375px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .intro_img {
    grid-area: img;
    min-width: 250px;
    z-index: 2;
  }
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1em;
    width: calc(100% + 1.5em);
  }
}

/*--------Highlights/Tidbits Section------------*/

.highlights {
  background-color: var(--clr-drk);
  /*background-image: ;*/
  /*background-size: cover;
  background-blend-mode: multiply;*/
  color: var(--clr-light);
  text-align: center;
}

.section__title--highlights {
  color: var(--clr-accent);
  position: relative;
  display: grid;
}

.section__title--highlights::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-accent);
  opacity: 0.25;
}

.all_tidbits {
  margin-bottom: 5em;
}

.tidbit {
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.5em;
}

.tidbit p {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .all_tidbits {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .tidbit + .tidbit {
    margin-left: 2em;
  }
}

@media (min-width: 375px) {
  .highlights {
    min-width: 600px;
  }
}

/*----About ME -----*/

.about_me {
  max-width: 1000px;
  margin: 0 auto;
}

.about_me--image {
  box-shadow: var(--bs);
}

@media (min-width: 375px) {
  .about_me {
    min-width: 500px;
  }
  .section__title--about {
    grid-area: title;
  }
  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: 100%;
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }
  p {
    text-align: center;
  }
}

/*-------------Portfolio------*/

.my_work {
  background-color: var(--clr-drk);
  color: var(--clr-light);
  text-align: center;
}

.section_subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 1em;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

.portfolio_img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__item {
  background: var(--clr-accent);
  overflow: hidden;
}
.portfolio_img:hover {
  transform: scale(1.2);
  opacity: 0.75;
}

@media (min-width: 375px) {
  .my_work {
    min-width: 600px;
  }
}

/*---footer----*/

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  min-width: 600px;
}

.footer a {
  color: inherit;
  text-decoration: none;
  font-size: var(--fs-h3);
}

.footer-link {
  font-weight: bold;
}

.footer-link:hover,
.social__list-link:hover {
  opacity: 0.7;
}

.footer-link:hover {
  text-decoration: underline;
}

.social_list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0;
  padding: 0;
}

.social__list-item {
  margin: 0 0.5em;
}

.social__list-link {
  padding: 0.75em;
}

/* Portfolio Pages */

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
}

.EW_portfolio_page_img {
  max-width: 200px;
  margin: 0 auto;
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}
.EW_portfolio_page_img:hover {
  transform: scale(1.2);
  opacity: 0.75;
}

.portfolio-item-individual h3 {
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.tech_lang_used {
  text-align: center;
}

.tech_list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0;
  padding: 0;
}

.tech_item {
  padding: 2em;
}
